body{
    width: 100vw;
    margin: 0px;
}
.cabeza{
    background-color: rgb(73, 125, 238);
    color: rgb(12, 30, 68);
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-menu-container {
    width: 100%; 
    overflow-x: auto; 
    white-space: nowrap; 
    position: relative;
    

  }
  
  .book-menu {
    display: inline-flex;
    gap: 20px;
  }
  
  .book-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
    display: inline-block;
  }
  
  .book-card:hover {
    transform: scale(1.05);
  }
  
  .book-card img {
    width: 100%;
    height: auto;
  }
  
  .book-card h3 {
    margin: 15px 0;
    font-size: 1.5em;
  }
  
  .book-card p {
    color: #555;
    font-size: 1em;
    margin-bottom: 15px;
  }
  
  /* Añadimos estilos para la barra de desplazamiento */
  .book-menu-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .book-menu-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .book-menu-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
